.App {
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.under-construction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
